# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.coverage
.pytest_cache/

# Virtual environment
venv/
.venv/
env/
.env

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Gunter specific
*.mmdb

# Docker
.dockerignore
docker-compose.override.yml
